<!DOCTYPE html>
<html>
<head>
	<title>Create a Customer</title>
</head>
<body>
	<h1>Enter Customer Detials</h1>

	<form action="/customers" method="POST">
	<div style="padding-bottom: 10px;">
		<label for="name">Name: </label>
		<input type="text" name="name">
	</div>
	<div style="padding-bottom: 10px;">
		<label for="gender">Gender: </label>
		<input type="text" name="gender">
	</div>
	<div style="padding-bottom: 10px;">
		<input type="submit" name="Create Customer">
	</div>
	</form>

</body>
</html>