<!DOCTYPE html>
<html>
<head>
	<title>About the Restaurant</title>
</head>
<body>
	<h1>Our Story</h1>
	<p>Our restaurant was founded in 2019 at the Flatiron School by Young Han and Kyle Cole.</p>

	<p>Coaches get 50% off!</p>

	<p>To create a customer, please follow the instructions on the home screen; or navigate directly to '/customers/new' — <a href="/customers/new">OR CLICK HERE</a></p>

	<p>To place an order, please follow the instructions on the home screen; or navigate directly to '/orders/new' — <a href="/foods/new">OR CLICK HERE</a></p>

	<p><a href='/'>Return to Homepage</a></p>


</body>
</html>