<!DOCTYPE html>
<html>
<head>
	<title>About the Restaurant</title>
</head>
<body>
	<h1>Our Story</h1>
	<p>Our restaurant was founded in 2019 at the Flatiron School by Young Han and Kyle Cole.</p>

	<p>Coaches get 50% off!</p>

</body>
</html>