<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
</head>
<body>
	<h1>Welcome to our Restarant</h1>
	<h2>What would you like to do?</h2>

	<ul>
		<li><a href="/about">About the Restaurant</a></li>
		<li><a href="/foods">View Food Items</a></li>
		<li><a href="/customers">View Customers</a></li>
	</ul>

</body>
</html>