<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
</head>
<body>
	<h1>Welcome to |dreams| The Restarant™</h1>

	<ul>
		<li><a href="/about">About the Restaurant</a></li>
	</ul>
	<ul>
		<li><a href="/customers">View Customers</a></li>
		<li><a href="/foods">View All Menu Items</a></li>
		<li><a href="/orders">View All Orders</a></li>
	</ul>
	<ul>
		<li><a href="/customers/new">Create a Customer</a></li>
		<li><a href="/foods/new">Add a Menu Item</a></li>
		<li><a href="/orders/new">Place an Order</a></li>
	</ul>

</body>
</html>